.bk-wall{
  background-image: url('./images/todoWall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #028A88;
  height: 100vh;
  width: 100%;
}
.add-btn, .delAll-btn, .edit-btn{
  border: none;
}
.add-btn:hover{
  background-color: #FFC0CB !important;
  color: white !important;
  border-radius: 5px;
}
.delAll-btn:hover{
  background-color: #F065AD !important;
  color: white !important;
  border-radius: 5px;
}
.edit-btn:hover{
  background-color: #028A88 !important;
  color: white !important;
  border-radius: 5px;
}
